/.eggs/pytest_runner-6.0.0-py3.8.egg/ptr/__init__.py
/.idea/ddsp-playground-2.iml
/ddsp.egg-info/dependency_links.txt
/.eggs/pytest_runner-6.0.0-py3.8.egg/EGG-INFO/entry_points.txt
/ddsp.egg-info/entry_points.txt
/.eggs/pytest_runner-6.0.0-py3.8.egg/EGG-INFO/LICENSE
/.idea/misc.xml
/.idea/modules.xml
/.eggs/pytest_runner-6.0.0-py3.8.egg/EGG-INFO/PKG-INFO
/ddsp.egg-info/PKG-INFO
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.eggs/README.txt
/.eggs/pytest_runner-6.0.0-py3.8.egg/EGG-INFO/RECORD
/.eggs/pytest_runner-6.0.0-py3.8.egg/EGG-INFO/requires.txt
/ddsp.egg-info/requires.txt
/ddsp.egg-info/SOURCES.txt
/.eggs/pytest_runner-6.0.0-py3.8.egg/EGG-INFO/top_level.txt
/ddsp.egg-info/top_level.txt
/.idea/vcs.xml
/.eggs/pytest_runner-6.0.0-py3.8.egg/EGG-INFO/WHEEL
